@using DAO.BaseModels
@using DAO.Models.Devices
@model IEnumerable<DAO.BaseModels.Device>
@{
    ViewBag.Title = "title";
    Layout = "MyLayout";
}
@await Component.InvokeAsync("DeviceCreate")
@if (ViewBag.RoomName != null)
{
    <h1>@ViewBag.RoomName</h1>
}
<ul class="box-info" id="boxInfoList">
    @foreach (var device in Model)
    {
        // check if device instance of Light
        if (device is Light)
        {
            <li data-device-id="@device.ID">
                <span class="text">
                    <div class="textlight">
                        <h3>@device.Name</h3>
                        <div class="lamp-wrapper-main">
                            <div class="lamp-rope"></div>
                            <div class="lamp-inner">
                                <div class="lamp-main lamp-bottom"></div>
                                <div class="lamp-blub"></div>
                            </div>
                        </div>
                        <a class="toggle-btn light">
                            <i class='bx bx-power-off'></i>
                        </a>
                        <form class="lamp-input">
                            <label for="slider" class="slider-label">Độ sáng:</label>
                            <div class="slider-container">
                                <div class="icon-sun">
                                    <i class='bx bxs-sun'></i>
                                </div>
                                <input type="range" id="slider" value="0" min="0" max="10" class="slider">
                            </div>
                        </form>
                    </div>
                </span>
            </li>
        }

        if (device is Fan)
        {
            <li data-device-id="@device.ID">
                <span class="text">
                    <div class="textfan">
                        <h3>@device.Name</h3>
                        <div class="part">
                            <div class="box">
                                <img src="https://cdn-icons-png.flaticon.com/512/95/95252.png" width="100%" height="100%">
                                <div class="box1"></div>
                            </div>
                        </div>
                        <a class="toggle-btn fan">
                            <i class='bx bx-power-off'></i>
                        </a>
                        <form oninput="document.body.setAttribute('data-light', slider.value)" class="lamp-input">
                            <label for="slider" class="slider-label">Tốc độ:</label>
                            <i class='bx bxs-radiation'></i>
                            <div>
                                <a class="speed-button" data-speed="0.8">1</a>
                                <a class="speed-button" data-speed="0.4">2</a>
                                <a class="speed-button" data-speed="0.2">3</a>
                            </div>
                        </form>
                    </div>
                </span>
            </li>
        }

        if (device is RgbLight)
        {
            <li data-device-id="@device.ID">
                <span class="text">
                    <div class="textrgb ">
                        <h3>@device.Name</h3>
                        <div class="rgb-light">
                            <div class="rgb-color"></div>
                        </div>
                        <a class="toggle-btn rgb">
                            <i class='bx bx-power-off'></i>
                        </a>
                        <form oninput="document.body.setAttribute('data-light', slider.value)" class="lamp-input">
                            <label for="slider" class="slider-label">Chọn màu:</label>
                            <div class="slider-container">
                                <div class="icon-sun">
                                    <i class='bx bxs-sun'></i>
                                </div>
                                <input type="color" id="color-picker" value="#ff0000">
                            </div>
                        </form>
                    </div>
                </span>
            </li>
        }
    }
</ul>

@section Scripts {
    <script>
    $(document).ready(function() {
        var skip = @Model.Count();
        var take = 3; // Number of items to load each time
        var isLoading = false; // Prevent multiple requests
        var allItemsLoaded = false; // Flag to indicate all items are loaded

        $('main').on('scroll', function() {
            if ($(window).scrollTop() + $(window).height() >= $(document).height()  && !isLoading) {
                if (!allItemsLoaded) {
                    loadMoreDevices();
                }
            }
        });

        function loadMoreDevices() {
            isLoading = true;
            $("#loading").show();
            setTimeout(function() { // Add delay
                $.ajax({
                    url: '@Url.Action("LoadMoreDevices", "Device")',
                    type: 'GET',
                    data: { skip: skip, take: take },
                    success: function (result) {
                        if (result.trim() === "") {
                            // No more items to load
                            allItemsLoaded = true;
                        } else {
                            $("#boxInfoList").append(result);
                            skip += take;
                        }
                        isLoading = false;
                        $("#loading").hide();
                    },
                    error: function () {
                        isLoading = false;
                        $("#loading").hide();
                    }
                });
            }, 500); // Delay of 500ms
        }

        $('button.search-btn').click(function(event) {
            event.preventDefault();
            var keyword = $('#keyword').val();
            $.ajax({
                url: '@Url.Action("Search", "Device")',
                type: 'GET',
                data: { keyword: keyword },
                success: function(data) {
                    // Assuming you have a div with id 'searchResults' to display the results
                    $('#boxInfoList').html(data);
                },
                error: function() {
                    alert('Error occurred while searching.');
                }
            });
        });

        // Light functionality
        $(document).ready(function() {
            $('input[type="range"]').on('input', function () {
                const brightness = $(this).val();
                $(this).closest('li').find('.lamp-blub').css('opacity', brightness / 10); // Cập nhật opacity cho đèn
                addHistory(`Độ sáng: ${brightness}`);
            });
        });


        $('.toggle-btn.light').click(function () {
            const isOn = $(this).hasClass('on');
            const deviceId = $(this).closest('li').data('device-id');
            const command = JSON.stringify({
                method: "setLedStatus",
                params: isOn ? 0 : 1
            });

            $.ajax({
                url: '@Url.Action("Control","Device")',
                type: 'POST',
                data: {
                    id: deviceId,
                    command: command
                },
                success: function() {
                    $(this).toggleClass('on off');
                    addHistory(isOn ? "Tắt đèn" : "Bật đèn");
                }.bind(this),
                error: function() {
                    alert('Error occurred while controlling the light.');
                }
            });
        });

        // Fan functionality
        let currentSpeed = 0.8;

        $('.toggle-btn.fan').click(function () {
            const isOn = $(this).hasClass('on');
            $(this).toggleClass('on off');
            $(this).closest('li').find('.box img').css("animation", isOn ? "none" : `rotateon ${currentSpeed}s infinite linear`);
            addHistory(isOn ? "Tắt quạt" : "Bật quạt");
        });

        $('.speed-button').click(function () {
            currentSpeed = $(this).data('speed');
            if ($('.toggle-btn.fan').hasClass('off')) {
                $(this).closest('li').find('.box img').css("animation", `rotateon ${currentSpeed}s infinite linear`);
            }
            addHistory(`Tốc độ quạt: ${currentSpeed}`);
        });

        // RGB functionality
        let rgbIsOn = false;

        $('.toggle-btn.rgb').click(function () {
            rgbIsOn = !rgbIsOn;
            const color = $(this).closest('li').find('#color-picker').val();
            $(this).closest('li').find('.rgb-color').css('background-color', rgbIsOn ? color : 'transparent');
            addHistory(rgbIsOn ? "Bật LED RGB" : "Tắt LED RGB");
            $(this).toggleClass('on off');
        });

        $('#color-picker').on('input', function() {
            if (rgbIsOn) {
                const color = $(this).val();
                $(this).closest('li').find('.rgb-color').css('background-color', color);
                addHistory(`Màu LED RGB: ${color}`);
            }
        });
    });
</script>
}