@model IEnumerable<DAO.BaseModels.House>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<div class="ms-2 mx-2">
    <partial name="Create"/>

    <ul class="box-info" id="boxInfoList">
        @foreach (var item in Model)
        {
            <li>
                <span class="text">
                    <h3>
                        <a href='@Url.Action("Index", "Room", new { houseId = @item.ID })'>
                            @item.Name
                        </a>
                    </h3>
                    <p>@item.Location</p>
                    <!-- Edit Button -->
                    <button onclick="location.href='@Url.Action("Edit", "House", new { id = @item.ID })'">
                        <i class="bx bxs-edit"></i>
                    </button>
                    <button onclick="location.href='@Url.Action("Delete", "House", new { id = @item.ID })'">
                        <i class="bx bxs-trash"></i>
                    </button>
                </span>
            </li>
        }
    </ul>
</div>
