@model WebApp.Models.AccountViewModel

@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/lg1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="container" id="container">
    <div class="form-container register-container">
        <form asp-action="Register" method="post">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
                <a href="#" class="social"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <span>or use your email for registration</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    @Html.EditorFor(m => m.RegisterModel.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    <span asp-validation-for="RegisterModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                    @Html.EditorFor(m => m.RegisterModel.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                    <span asp-validation-for="RegisterModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                    @Html.EditorFor(m => m.RegisterModel.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                    <span asp-validation-for="RegisterModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    <div class="form-container log-in-container">
        <form asp-action="Login" method="post">
            <h1>Log in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
                <a href="#" class="social"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <span>or use your account</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.EditorFor(m => m.LoginModel.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                <span asp-validation-for="LoginModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.LoginModel.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check checkbox-container">
                    @Html.CheckBoxFor(m => m.LoginModel.RememberMe, new { @class = "form-check-input" })
                    <label asp-for="LoginModel.RememberMe" class="form-check-label"></label>
                </div>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="logIn">Log In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="Register">Register</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/lg1.js"></script>
</body>
</html>